.page-logo {
  max-width: 200px;
}

.self-card-body {
  height: 350px;
  vertical-align: middle;
  margin-bottom: 30px;
}

.self-card-contents {
  margin-bottom: 30px;
}

.loading {
  height: 200px;
  margin-top: 100px;
}