.page-logo {
  max-width: 200px;
}

.self-card-body {
  height: 350px;
  vertical-align: middle;
  margin-bottom: 30px;
}

.self-card-deadline {
  margin-bottom: 30px;
}

.self-cardwrite-deadline {
  border: none;
  color: darkred;
}

.self-cardwrite-deadlineTitle {
  margin-top: 5px;
}

.self-card-contents {
  margin-bottom: 30px;
}

.self-card-map {
  margin-bottom: 15px;
}

.loading {
  height: 200px;
  margin-top: 100px;
}

.reply {
  margin-top: 30px;
}

.reply-btn {
  color: black;
  text-decoration: none;
  text-decoration-style: none;
}

.self-calender {
  margin-top: 10px;
}